{{ $libc := eq "oak" .chezmoi.hostname | ternary "gnu" "musl" -}}


default_host_triple = "x86_64-unknown-linux-{{ $libc }}"
default_toolchain = "nightly-x86_64-unknown-linux-{{ $libc }}"
profile = "default"
version = "12"

[overrides]
